<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <style>
            .container{
                padding-top: 20px;
            }
            body{
                background-color: #444444;
            }

            label{
                color: white;
                font-size: large;
            }
            h2{
                color: white;
            }
        </style>
    </head>
    <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand" href="#">ToDo management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('operateur_telecom_homepage') }}">Abonnés <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('add') }}">Ajouter un abonné <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('add_sim') }}">Affecter sim <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('all_sim') }}">SIMS <span class="sr-only">(current)</span></a>
                </li>


            </ul>

        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for flash_message in app.session.flashbag.get('notice') %}
                    <span class="alert alert-success">{{ flash_message }}</span>
                {% endfor %}
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
